.button {
    /* background-color: rgb(94, 252, 141); */
    background-color: #5efc8d;
    color: #000;
    border: none;
    padding: 1rem 3.5rem;
    font-size: 3rem;
    font-family: 'poppins';
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}

.disabled {
    background-color: #a4fcbe;
}
