.button {
    font-size: clamp(1.75rem, calc(1.75rem + 1.5vw), 3rem);
}

@media only screen and (max-width: 480px) {
    .link {
        width: 100%;
    }
    .button {
        width: 100%;
        padding: 1rem;
    }
}
