.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: #000;
}

@media only screen and (max-width: 480px) {
    .page {
        justify-content: inherit;
        padding-top: 4rem;
    }
}
