.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: #000;
    overflow: auto;
}

@media only screen and (max-width: 588px) {
    .page {
        padding: 0;
        justify-content: inherit;
        background-color: #fff;
    }
}
