.header {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    justify-content: space-between;
    gap: 0.5rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    white-space: nowrap;
    font-size: clamp(1.5rem, 1.5rem + 1.5vw, 2.25rem);
    font-weight: 800;
    font-family: 'poppins';
}

.complete-todos {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-container {
    display: flex;
    height: 100%;
    gap: 1rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: clamp(0.8rem, 0.8rem + 0.7vw, 1.375rem);
}

.logout {
    cursor: pointer;
    color: #eee;
    font-size: clamp(0.75rem, calc(0.75rem + 0.5vw), 1rem);
}

.profile-pic {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
}

@media only screen and (max-width: 664px) {
    .complete-todos {
        display: none;
    }
}
