.page {
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.content {
    overflow-y: auto;
    height: calc(100vh - 100px);
}
