.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 664px;
    width: 100%;
    padding: clamp(1rem, 1rem + 1.25vw, 2rem);
    margin: 0 auto;
    gap: clamp(1rem, 1rem + 1.25vw, 2rem);
    box-sizing: border-box;
}

.title {
    font-size: clamp(1.5rem, 1.5rem + 2vw, 2.625rem);
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.add-todo-container {
    display: flex;
    width: 100%;
}

.add-todo-container input {
    width: 100%;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.375rem);
    padding: clamp(0.5rem, 0.5rem + 1vw, 1rem);
    border-radius: 4px 0px 0px 4px;
}

.add-todo-container button {
    font-size: clamp(1.25rem, 1.25rem + 1vw, 2rem);
    padding: clamp(0.5rem, 0.5rem + 1vw, 1rem)
        clamp(0.75rem, 0.75rem + 1vw, 1.5rem);
    border-radius: 0px 4px 4px 0px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 1rem + 1.25vw, 2rem);
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
