/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap'); */

body {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
